@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Alumnibook--Master IS</h1>
    <p class="lead">The project is composed of a software system where User
     Can register and login to the system
 Can view the User Profile
 Can add achievements to the User Profile
 Can provide advice and tips to each other in a discussion forum
 Can access the Linkedin and Twitter</p>
    <p><a href="~/Home/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alumni</h2>
        <p>
            In this module, the user can search alumni to contact.
            The user would be able to create, delete, edit and view his/her details.
            In addition to it the user could add, delete, edit and view the achievements.
        </p>
        <p><a class="btn btn-default" href="~/UserProfiles/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Forum</h2>
        <p>This module provides a simple forum where the user could have a discussion with others here..</p>
        <p><a class="btn btn-default" href="~/Discussions/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>The website also allows registration with linkedin and facebook. With this registration the user would be able to login into our system.</p>
        <p><a class="btn btn-default" href="~/About/">Learn more &raquo;</a></p>
    </div>
</div>